{%  extends 'accounts/main.html' %}

{% load static %}
    
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​&nbsp;About Us, Why us?, Booking, Handpicked Hotel, Ticked Ordering​, Unique Reviews, All at one place, Easy changing">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/assets/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static '/assets/css/about.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static '/assets/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '/assets/js/nicepage.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">

<style>
    .nav__item a{
        color: black;
    }

    .nav__link:hover{
        color: black;
    }
    .u-section-1 .u-image-1 {
      background-image: url("{% static '/assets/img/58be054c28a91b85bd07b76c90601791da2a276a93eb688d533e5fdb5cd2af19d4f9e3cb9f40cdc5ccae9332b3010382bc0de59a6c747ea2cac4f7_1280.jpg' %}");
    }

    .u-section-2 .u-image-1 {
      background-image: url("{% static '/assets/img/2fef4d22fe141bf8f7d879b5a8bf8ccda8d71f06167252be831e55088eeb7692043f49a01470b54e1c7b0319119808c6d30fa20e7198f8a469f03e_1280.png' %}");
    }
</style>
{% if email != None %}
<style>
  .nav__item {
    position: relative;
    top: 30px;
  }
</style>
{% endif %}
  <body class="u-body">
    <section class="u-clearfix u-section-1" id="sec-3d6f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-image u-layout-cell u-left-cell u-size-23 u-image-1" data-image-width="1280" data-image-height="853">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h1 class="u-text u-text-default u-text-palette-1-base u-text-1"> &nbsp;About Us</h1>
                  <p class="u-large-text u-text u-text-grey-60 u-text-variant u-text-2"><i>The ultimate goal of this project is to give user the ultimate power of planning and organizing the tours with our powerfull website for suggestions and making a seamless transactions and flow of the tour. we are a team of two members trying to make change in the modern tourism activities</i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-section-2" data-image-width="2000" data-image-height="1333" id="sec-8483">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Why us?</h2>
        <p class="u-text u-text-2"><i>Reasons to chose what a trip for your ultimate tour experience.</i>
        </p>
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <h2 class="u-text u-text-default u-text-palette-1-base u-text-3">Booking</h2>
                      <blockquote class="u-text u-text-4">Book your Package or hotel easily with Relaible UI and faster navigation</blockquote>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-2">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                      <h2 class="u-text u-text-default u-text-palette-1-base u-text-5">Handpicked Hotel</h2>
                      <blockquote class="u-text u-text-6">Select among the finest hotels ata aplace with reviwes by customers and their experience at the trip</blockquote>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-3">
                    <div class="u-container-layout u-valign-top u-container-layout-3">
                      <h2 class="u-text u-text-default u-text-palette-1-base u-text-7">Ticked Ordering </h2>
                      <blockquote class="u-text u-text-8">Make your orders and get Confirmation in seconds with the high secured transaction gateway and secure system</blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-style u-image u-layout-cell u-size-60 u-image-1" src="" data-image-width="1280" data-image-height="853">
                    <div class="u-container-layout u-valign-top u-container-layout-4" src=""></div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-5">
                    <div class="u-container-layout u-valign-top u-container-layout-5">
                      <h2 class="u-text u-text-default u-text-palette-1-base u-text-9">Unique Reviews</h2>
                      <blockquote class="u-text u-text-10">Explore the reviews systems by exploring the customers and chatting with them</blockquote>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-6">
                    <div class="u-container-layout u-valign-top u-container-layout-6">
                      <h2 class="u-text u-text-default u-text-palette-1-base u-text-11">All at one place</h2>
                      <blockquote class="u-text u-text-12">Make your own package with hotel suggestions and make it as flexible as possible</blockquote>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-7">
                    <div class="u-container-layout u-valign-top u-container-layout-7">
                      <h2 class="u-text u-text-default u-text-palette-1-base u-text-13">Easy changing</h2>
                      <blockquote class="u-text u-text-14">Edit your package and make it understadable and post for the others and earn reward whenever <span style="font-size: 1.125rem;"></span>a user picks your package
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% endblock %}