.u-section-1 .u-sheet-1 {
  min-height: 733px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 420px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 48px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-image-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 850px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 59px auto 0;
}

.u-section-2 .u-text-2 {
  width: 681px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 47px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 193px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 201px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 179px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 603px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 179px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 179px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 226px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-14 {
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 206px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 148px;
  }

  .u-section-2 .u-image-1 {
    min-height: 497px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 148px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 148px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 182px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 571px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2177px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 857px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1956px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 168px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }
}