 .u-section-1 {
  background-image: url("images/a63bf5c42735a789ea4d56ce5f570d88d5a4b914f50495510189e91daedd6c3ffcecff13fee5d51b27c08d918fc484ee79671b2f5368667980a5e0_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 728px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px auto 40px -21px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 156px 60px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 575px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 8px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 7px;
}

.u-section-1 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-1 .u-form-1 {
  height: 372px;
  background-image: none;
  margin: 15px 37px 0 7px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}